:root{
    --note_dot_opacity: 0;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background: #808D7C;
}

.fretboard{
    display: flex;
    flex-direction: column;
    background-color: #caa472;
    width: 100%;
    height: 300px;
    margin-top: 50px;
}

.string{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
.string:before{
    content: '';
    width: 100%;
    height: 6px;
    background: linear-gradient(#e9e4e4, #999);
    box-shadow: 76px 3px 10px #806233;
    z-index: 1;
    position: absolute;
    top: 22px;
}

.note-fret{
    display: flex;
    flex: 1;
    border-right: 10px solid;
    border-image: linear-gradient(to left, #494949, #d9aa5c, #494949) 1 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.note-fret:first-child{
    background-color: black;
    min-width: 76px;
    border-right: 30px solid;
    flex-grow: 0;
    flex-shrink: 0;
    border-image: linear-gradient(to left, #bbb, #fff, #bbb) 1 100%;
}

.note-fret:before {
    content: attr(data-note);
    width: 33px;
    height: 33px;
    text-align: center;
    border-radius: 50%;
    line-height: 33px;
    background-color: #C9DABF;
    z-index: 2;
    color: black;
    opacity: var(--note_dot_opacity);
    font-family: "Poppins", sans-serif;
}

.marked-note:before {
    opacity: 1; 
}

.single-fretmark:after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #806233;
    top: 140px;
}

.double-fretmark:before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #806233;
    top: 55px;
    transform: translate(-140%, 50%);
}

.double-fretmark:after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #806233;
    top: 206px;
    transform: translate(-140%, 50%);
}

.settings{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.strum_button{
    width: 175px;
    height: 40px;
    margin-top: 25px;
    border-radius: 25px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    border: none;
    background-color: #f15e53;
}

.strum_button:hover{
    transform: scale(1.2);
}

.select_notes_button{
    width: 175px;
    height: 40px;
    margin-top: 25px;
    border-radius: 25px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    border: none;
    background-color: #f15e53;
}

.select_notes_button:hover{
    transform: scale(1.2);
}

.clear_notes_button{
    width: 180px;
    height: 40px;
    margin-top: 25px;
    border-radius: 25px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    border: none;
    background-color: #f15e53;
}

.clear_notes_button:hover{
    transform: scale(1.2);
}

.chord_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.chord_selection{
    display: flex;
    gap: 50px;
}

.chord_selection button{
    width: 180px;
    height: 40px;
    margin-top: 25px;
    border-radius: 25px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    border: none;
    background-color: #f15e53;
}

.chord_selection button:hover{
    transform: scale(1.1)
}

.chord_dropdowns{
    display: flex;
    display: none;
    gap: 50px;
}
.chord_dropdown {
    width: 60%; 
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    border: 1px solid #C9DABF;
    background-color: #C9DABF;
    margin: 10px 0;
}

@media (max-width: 1366px) {
    .chord_selection button {
        width: 100px; /* Reset to original width on large screens */
    }
}

@media (max-width: 1200px) {
    .chord_selection button {
        width: 100px; /* Reset to original width on large screens */
    }
}

@media (max-width: 1024px) {
    .chord_selection {
        display: none; /* Hide buttons on smaller screens */
    }
    .chord_dropdowns {
        display: flex; /* Show dropdowns on smaller screens */
        align-items: center;
        gap: 10px;
    }
    .settings{
        gap: 50px
    }
}
button.active {
    background-color: #f7ac5c; /* สีของปุ่มเมื่อถูกกด */
    color: white; /* ตัวอักษรสีขาว */
    border: 2px solid #fff;
}

button.active {
    background-color: #f7ac5c; /* สีของปุ่มเมื่อถูกกด */
    color: white; /* ตัวอักษรสีขาว */
    border: 2px solid #fff;
}

button {
    background-color: #f15e53; /* สีเริ่มต้นของปุ่ม */
    color: white; /* ตัวอักษรสีขาว */
    border: 2px solid #fff;
    transition: background-color 0.1s ease; /* เพิ่ม transition ให้เกิดการเปลี่ยนสี */
}




